<% if @shops && @shops.length > 0 %>

<div id="map">
  <div id="map_wait_text">
    <b>Waiting on Google Maps</b>
    <br/>
    Try refreshing your browser if it's taking to long
  </div>
</div>

<% end %>

<h1>Shop Listings</h1>

  <% form_tag(find_shops_path) do %>
      Postal Code: <%= text_field_tag(:zip, @zip, :size => 5) %>
      Distance: <%= text_field_tag(:distance, @distance, :size => 2 ) %>
      <%= submit_tag "Find Shops" %>
  <% end %>

<br/><br/>

<% if @shops && @shops.length > 0 %>

  <% @shops.each do |shop| %>
    <b><%= link_to shop.name, shop %></b><br/>
    <%=h shop.full_address %> - <%=h shop.phone_number %><br/>
  <% end %>

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=<%= GOOGLE_MAPS_KEY %>" type="text/javascript"></script>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'location_list' %>
  <script type="text/javascript">
    var shops = <%= ( raw @shops.collect {|l|l.attributes} ).to_json %>;
    var centerLat = <%=h @centerLat %>
    var centerLng = <%=h @centerLng %>
  </script>

<% else %>
  <% if @zip %>
    No shops found for the Postal Code <%=h @zip %>
  <% else %>
    Choose a Postal Code
  <% end %>
<% end %>

