<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Make:</b>
  <%= @shop.make %>
</p>

<p>
  <b>Affiliations:</b>
  <%= @shop.affiliations %>
</p>

<p>
  <b>Specialties:</b>
  <%= @shop.specialties %>
</p>

<p>
  <b>Amenities:</b>
  <%= @shop.amenities %>
</p>

<p>
  <b>Phone number:</b>
  <%= @shop.phone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%= @shop.fax_number %>
</p>

<p>
  <b>Email:</b>
  <%= @shop.email %>
</p>

<p>
  <b>Website:</b>
  <%= @shop.website %>
</p>

<p>
  <b>Raw address:</b>
  <%= @shop.raw_address %>
</p>

<p>
  <b>Address 1:</b>
  <%= @shop.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @shop.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @shop.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @shop.postal_code %>
</p>

<p>
  <b>Lat:</b>
  <%= @shop.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @shop.lng %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
