<br />

<h3><%=h @shop.name %></h3>

<p>
  <%= @shop.phone_number %>
</p>

<p>
<%=h @shop.full_address %>
</p>

<p>

<br />

<%= link_to 'Search for other Shops', shops_path %>
</p>
<div id="map" style="width:300px; height:350px">
  <div id="map_wait_text">
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= GOOGLE_MAPS_KEY %>" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'location_list' %>
    <script type="text/javascript">
      var shops = new Array();
      shops[0] = <%= raw @shop.attributes.to_json %>;
    </script>
 </div>
</div>

<br/>
